-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


.span-24.last
  .span-9.last
    = render 'shared/author_info', :person => current_user.person

    = link_to "edit profile", edit_person_path(current_user.person)
    %br
    = link_to "manage aspects", {:controller => "aspects", :action => "manage"}

    %br
    %br

.span-24.last
  .span-12.last
    %h3
      = "Your #{@aspects.count} aspects"

    - for aspect in @aspects
      = link_to aspect, aspect
      %br

  .span-12.last
    %h3
      = "Your #{@friends.count} friends"
    #left_pane
      .friend_pictures
        - for friend in @friends
          = person_image_link(friend)


